.title {
    font-family: 'Bebas Neue';
    font-size: 8vh;
    letter-spacing: 0.3vw;
}

.box-title {
    font-size: 3.5vh;
    font-family: 'Poppins';
    font-weight: 1000;
    letter-spacing: 0.1vw;
}

.lastUpdate {
    font-size: 2vh;
    font-family: 'Montserrat';
    font-weight: 600;
    letter-spacing: 1px;
}

.countup {
    font-family: 'Poppins';
    letter-spacing: 0.2vw;
    font-weight: 1000;
}