@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat&family=Poppins&display=swap');

.brandname {
    font-family: 'Bebas Neue';
    font-size: 5vh;
    letter-spacing: 2px;
}